nav {
	height: 100px;
	background-color: green;
	text-align: center;
}

.align-this-left {
	float: left;
	background-color: blue;
	height: 1000px;
	width: 50%;
}

.align-this-right {
	float: right;
	background-color: red;
	height: 1000px;
	width: 50%;
}

.wrapper {
	width: 1300px;
	margin: 0 auto;
}

i {
	color: blue;
	margin-top: 20px;
	margin-left: 75px;
	margin-right: 75px;
}

i:hover {
	color: red;
}


